body {
    margin: 0;
    padding: 0;
    border-top : 5px solid #DB0202;
    color : #444;
    font-family: "ff-dagny-web-pro",arial, sans-serif;/*0.8em/1.4em*/
    font: 14px/17px "ff-dagny-web-pro",arial,sans-serif;
    background: url("/i/main-bg.png") repeat scroll left top rgba(0, 0, 0, 0);
}

/*Navigation*/
.nav {
    clear: both;
}
.nav ul, .nav li {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

/*Top menu*/
#hdr-wrap {
    background: none repeat scroll 0 0 #eb2969;
    -webkit-box-shadow: 1px 1px 5px #606060;
       -moz-box-shadow: 1px 1px 5px #606060;
            box-shadow: 1px 1px 5px #606060;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#hdr-wrap #top-nav {
    width: 1200px;
    height: 49px;
    margin: 0 auto;
    /*@todo разобраться нужно ли здесь relative*/
    position: relative;
}
#logo {
    display: inline-block;
    margin-right: 35px;
    padding-top: 9px;
    vertical-align: top;
}
#logo a {
    color: #fff;
    display: block;
    font-family: "1Isadora M Bold",arial,sans-serif;
    font-size: 18px;
    margin-left: 5px;
    text-decoration: none;
    width: 300px;
}

#logo div {
    color: #fff;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    margin-left: 5px;
}
#menu-bar {
    display: inline-block;
    height: 50px;
    width: 750px;
}

ul.nice-menu, ul.nice-menu ul {
    position: relative;
    z-index: 5;
}
.nav .nice-menu .menuparent {
    height: 50px;
    line-height: 19px;
    margin-left: -16px;
}
ul.nice-menu li {
    position: relative;
    display: inline;
    float: left;
}
.nav .nice-menu .menuparent > a {
    display: block;
    height: 35px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 14px 15px 0 10px;
}
.nav li a {
    color: #ffffff;
    display: block;
    font-family: "futura-pt",arial,sans-serif;
    font-size: 15px;
    font-weight: 700;
    height: 29px;
    padding: 0 35px 29px 0;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.nav .nice-menu .menuparent:hover:before {
    background: url("/i/main-menu-corner-right-opacity.png") no-repeat scroll right 0 transparent;
    content: "";
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
.nav .nice-menu .menuparent:hover:after {
    background: url("/i/main-menu-corner-left-opacity.png") no-repeat scroll left 0 transparent;
    content: "";
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
}
.nav .nice-menu .menuparent > a:hover, .nav .nice-menu .menuparent:hover > a {
    background-color: rgba(255, 255, 255, 0.5);
}

/*Search*/
#top-nav-btns {
    display: inline-block;
    float: right;
    margin-top: 3px;
    max-width: 300px;
    position: absolute;
    right: 4px;
    white-space: nowrap;
    z-index: 90;
}

#top-nav-btns .search-btn {
    background: url("/i/searchicon.svg") no-repeat scroll right center #b00a41;
    border: medium none;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.4) inset;
    cursor: pointer;
    height: 32px;
    margin-top: 5px;
    outline-color: #eb2969;
    padding: 0 40px 0 0;
    text-indent: -9999em;
    vertical-align: top;
    width: 0;
}
#top-nav-btns .search-btn:hover {
    background-color: #fff;
}
#top-nav-btns .search-btn.search-focus {
    background-color: #fff;
    background-position: right center;
    border: medium none;
    border-radius: 3px;
    color: #282828;
    font-size: 17px;
    height: 32px;
    margin-right: 0;
    outline-color: #eb2969;
    padding: 0 40px 0 5px;
    text-indent: 0;
}
.layout {
    width: 1200px;
    margin: 60px auto 10px;
}

.footer {
    margin-top: 20px;
}
#wrap-footer-menu {
    height: 250px;
    background: none repeat scroll 0 0 #fff;
    padding: 10px;
}
#footer-menu {
    margin: 0 auto;
    width: 1200px;
    height: 230px;
}
#footer-menu li {
    padding: 5px;
}
.footer-column {
    width: 240px;
    float: left;
}
#wrap-copyright {
    background: none repeat scroll 0 0 #eb2969;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 10px 0;
}
#copyright {
}
.small {
    font-size: 12px;
}